.cipher {
  display: inline-block;
  background: url(http://img.alicdn.com/tps/TB1qq7kNXXXXXacXFXXXXXXXXXX-400-186.png)
    no-repeat;
  overflow: hidden;
  width: 14px;
  height: 24px;
  background-position: -215px -25px;
}
