* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #009688;

  padding: 0;
  margin: 0;
  font: 20px/1 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  overflow: hidden;
  cursor: default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

.state {
  width: 108px;
  position: absolute;
  top: 0;
  right: 15px;
}

.state p {
  line-height: 43px;
  height: 50px;
  padding: 10px 0 0;
  white-space: nowrap;
  clear: both;
}

.state .last-row {
  position: absolute;
  width: 114px;
  top: 430px;
  left: 0;
}

/* number */
.number {
  height: 24px;
  font-size: 14px;
  float: right;
}
.number span.num {
  float: left;
  width: 14px;
  height: 24px;
}

.number .num-0 {
  background-position: -75px -25px;
}
.number .num-1 {
  background-position: -89px -25px;
}
.number .num-2 {
  background-position: -103px -25px;
}
.number .num-3 {
  background-position: -117px -25px;
}
.number .num-4 {
  background-position: -131px -25px;
}
.number .num-5 {
  background-position: -145px -25px;
}
.number .num-6 {
  background-position: -159px -25px;
}
.number .num-7 {
  background-position: -173px -25px;
}
.number .num-8 {
  background-position: -187px -25px;
}
.number .num-9 {
  background-position: -201px -25px;
}
.number .num-n {
  background-position: -215px -25px;
}
.number .num-colon-faded {
  background-position: -243px -25px;
}
.number .num-colon-solid {
  background-position: -229px -25px;
}

/* util */
.r {
  float: right;
}
.l {
  float: left;
}

.clear {
  clear: both;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.w-40 {
  width: 40px;
}

.bg {
  background: url('assets/img/bg.png') no-repeat;
  overflow: hidden;
}
